/********************
    FONT
********************/

@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');


/********************
    GENERAL STYLES
********************/

*,
*:before,
*:after {
  box-sizing: border-box;
}

html, 
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Muli', sans-serif;
  color: #222;
}

section {
  padding: 5rem 0;
}

h3 {
  font-size: 2rem;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
}

hr {
  margin-bottom: 4rem;
  margin-top: 0;
  width: 120px;
  border-top-width: 6px;
  border-top-color: #CE6C47;
}

a:focus,
a:hover,
a:active {
  text-decoration: none;
  color: white;
}


/********************
    REUSABLE CLASSES
********************/
/*FONT SIZE*/

/*COLORS*/
.bg-transparent {
  background-color: transparent;
}

.bg-dark {
  background-color: #444545;
}

.txt-white {
  color: white;
}

.section-title {
  margin-bottom: 4rem;
  font-size: 3rem;
}

.white-nav-link {
  color: white;

}

.white-nav-link:link,
.white-nav-link:visited {
  color: white;
}

.white-nav-link.active,
.white-nav-link:focus,
.white-nav-link:active,
.white-nav-link:hover {
  color: #CE6C47;
}

.all-ease {
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

/********************
    NAV
********************/

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-scrolled {
  background-color: #444545;
  box-shadow: 0 1px 5px 2px rgba(0,0,0,0.6);
}

.navbar-brand {
  font-size: 2rem;
  padding: 0.5rem;
}

.navbar-brand img {
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 50%;
}

.navbar-toggler {
  border: none;
  font-size: 2.2rem;
  top: 12px;
}

nav .navbar-collapse.collapse {
  background-color: #444545;
}

.navbar-nav .nav-item.nav-link {
  display: block;
  font-size: 1.4rem;
  padding: 1rem;
  margin-left: 1rem;
}


/********************
    HEADER
********************/

.page-header {
  background-image: url("./../img/yellowstone-national-park-1589616_1920-dark.jpg");
  background-size: cover;
  background-position: top;
  padding-top: 60px;
}

/**** HERO ****/

.hero {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.hero-content h1 {
  line-height: 1.3;
}

.hero-content p {
  line-height: 1.6;
  font-size: 1.4rem;
}


/********************
    SERVICES
********************/

.service-box {
  margin-bottom: 3rem;
}

.service-box:last-child {
  margin-bottom: 0;
}

.service-box img {
  border-radius: 3px;
}

.service-box p {
  font-size: 1.4rem;
}

.service-box a {
  font-size: 1.4rem;
}

.service-box a:link,
.service-box a:visited {
  color: #222;
}

.service-box a:focus,
.service-box a:hover,
.service-box a:active {
  color: #C2C5BB;
}


/********************
    WATERS
********************/

.nav-row {
  margin-left:0;
  margin-right: 0;
}

.waters-content .nav {
  width: 100%;
}

.waters-content .nav .nav-link {
  font-size: 1.6rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.waters-content .tab-content .water-tile {
  margin-bottom: 2rem;
  border-radius: 5px;
  overflow: hidden;
}

.water-tile:last-child {
  margin-bottom: none;
}

.waters-content .tab-content .water-tile img {
  border-radius: 5px;
}

.hvr-box {
  border-radius: 5px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 15px;
  right: 15px;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hvr-box:hover {
  opacity: 1;
}

.hvr-box-txt {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2.2rem;
  font-weight: bold;
  width: auto;
  display: inline-block;
}

.hvr-box-txt::before,
.hvr-box-txt::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 4px;
  width: 30px;
  background-color: #CE6C47;
}

.hvr-box-txt::before {
  left: -40px;
}

.hvr-box-txt::after {
  right: -40px;
}

/********************
    ABOUT
********************/

.tile-padding {
  padding: 5rem;
}

.about-content,
.contact-content {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.about-background {
  background-color: lightgrey;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.about-shop {
  background-image: url("./../img/beach-56464_1920.jpg");
}

.about-area {
  background-image: url("./../img/kissing-camels-1273576_1920.jpg");
}

.about-top h3,
.contact-form h3 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.about-top p {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}



/********************
    CONTACT
********************/

#map {
  height: 300px;
  width: 100%;
}

.contact-form {
  padding: 3rem 1rem;
}

.contact-form .form-group label {
  font-weight: bold;
  font-size: 1.6rem;
}

.contact-content .contact-form .form-group input,
.contact-content .contact-form .form-group textarea {
  font-size: 1.6rem;
  border-radius: 0;
  border: 2px solid #95a5a6;
  padding: 1rem;
}

.contact-content .contact-form .form-group input:focus,
.contact-content .contact-form .form-group textarea:focus {
  border-color: #222;
  color:#222;
}

.contact-form .form-group .form-control::-webkit-input-placeholder {
  color: #95a5a6;
}

.contact-form .form-group .form-control::-moz-placeholder {
  color: #95a5a6;
}

.contact-form .form-group .form-control:-ms-input-placeholder {
  color: #95a5a6;
}

.contact-form .form-group .form-control::placeholder {
  color: #95a5a6;
}


/********************
    FOOTER
********************/

.footer h4,
.footer address {
  padding: 0.5rem 1rem;
}

.footer-top {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #2E2F2F;
}

.footer-col {
  margin-bottom: 1.5rem;
}

.footer-top .footer-top-logo-container img {
  background-color: white;
  border-radius: 50%;
}

.footer-bottom {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-bottom-socialmed,
.footer-bottom-copyright {
  text-align: center;
}

.footer-bottom-socialmed li {
  display: inline-block;
  margin: 0 0.5rem;
}

.footer-bottom-socialmed li .fa {
  font-size: 2.4rem;
}





/********************
    MEDIA QUERIES
********************/

@media(min-width: 768px) {

  /********************
      HEADER
  ********************/

  /**** NAV ****/

  nav .navbar-collapse.collapse {
    background-color: transparent;
  }
  
  .navbar .navbar-nav .nav-item.nav-link {
    display: inline-block;
    margin: 0 1rem;
    padding: 2rem 0.5rem;
  }

  .navbar.navbar-scrolled .navbar-nav .nav-item.nav-link {
    padding: 1rem 0.5rem;
    font-size: 1.2rem;
  }

  .navbar.navbar-scrolled .navbar-brand {
    font-size: 2rem;
    padding: 0;
  }

  .navbar.navbar-scrolled .navbar-brand img {
    height: 38px;
    width: 38px;
  }

  /********************
      FLOWS
  ********************/

  .flows .water-flow:nth-child(-n + 2) {
    margin-bottom: 0;
  }

  /********************
      FOOTER
  ********************/

  .footer-bottom-copyright {
    text-align: left;
  }

   .footer-bottom-socialmed {
     text-align: right;
   }

   .footer-bottom-copyright p {
     line-height: 25px;
   }
  

}

@media(min-width:992px) {
  
  /********************
      ABOUT
  ********************/
  .about-background {
    height: auto;
  }

  .tile-padding {
    padding: 7% 5%;
  }

  .about-top p:first-child {
    margin-bottom: 1.5rem;
  }

  /********************
      WATERS
  ********************/

  .water-tile {
    margin-bottom: 2rem;
  }

  .water-tile:last-child {
    margin-bottom: none;
  }

  /********************
      CONTACT
  ********************/

  #map {
    height: 100%;
    width: 100%;
  }

  .contact-content .contact-form .form-group input,
  .contact-content .contact-form .form-group textarea {
    font-size: 1.6rem;
    border-radius: 0;
    border: 2px solid #95a5a6;
    padding: 1rem;
  }

}